



<th:block xmlns:th="http://www.thymeleaf.org" th:each="schedule:${ scheduleList }" >

    <div class="col-md-13" style="margin: 0 5% 15% 5%;">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title" th:text="${ #dates.format(schedule.personalScheduleWriteDate, 'yyyy-MM-dd') }"></h3>
                <input type="hidden" id="scheduleNo" th:value="${ schedule.personalScheduleNo }">
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                        <i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool todo-remove-btn"  th:attr="data-schedule-no=${ schedule.personalScheduleNo }" href="javascript:" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <span th:text="|${ #dates.format(schedule.personalScheduleStartDate, 'yyyy-MM-dd') } ~|"></span>
                <span th:text="${ #dates.format(schedule.personalScheduleEndDate, 'yyyy-MM-dd') }"></span>
                <hr style="border:1px solid #dedede; border-bottom-style:hidden; !important; display: block !important; width: 100% !important;"/>
                <div th:text="${ schedule.personalScheduleContent }"></div>
                <a href="#" class="btn btn-tool" style="position:relative; left: 90%;"><i class="fas fa-pen"></i></a>
            </div>
        </div>
    </div>
</th:block>
